#collection-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

#collection-window.visible {
    opacity: 1;
    pointer-events: all;
}

.collection-content {
    position: relative;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    animation: scaleUp 0.3s ease;
    overflow-y: auto;
    max-height: 80vh;
}

.collection-content h2 {
    margin: 0 0 20px 0;
    text-align: center;
    color: #444;
    font-size: 24px;
}

#collection-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#collection-list li {
    text-align: center;
    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#collection-list li:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#collection-list img {
    max-width: 100px;
    margin-bottom: 10px;
}

#close-collection {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #888;
    transition: color 0.3s ease;
    animation: InvfadeOut 0.2s ease-in;
}

#close-collection:hover {
    color: #333;
}

@keyframes scaleUp {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.cat-item {
    text-align: center;
    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;

}

.cat-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cat-item img {
    max-width: 100px;
    margin-bottom: 10px;
}

.cat-name {
    font-weight: bold;
    color: #444;
}

.cat-count {
    color: #666;
}

#cat-image {
    background-size: cover;
}